@media screen and (max-width: 768px) {
    .ten {
        display: none;
    }
     #nav-bar {
        height: auto;
        display: block;
     }
     /* #nav-bar nav {
        border: none;
     } */
     #nav-bar a:link,
     a:visited {
        display:block;
        border: none;
        text-align: left;
        padding: 10px;
     }
#personal-info {
  padding-right: 25px; 
}
.certi2 {
   border-left: none;
   border-top: 2px solid #d6c08d;
   padding-top: 20px;
}
#footer a:link {
   margin-right: 10px;
}
#footer ul{
   margin-left: 0%;
   margin-right: 0%;
}
}